<p>property-details works!</p>

<p>{{propertyId}}</p>
<br>
<button class="btn btn-primary" (click)="OnClickNext()">Next Page</button>
<br>
<br>
<button class="btn btn-primary" [routerLink]="['/property-details/2']" routerLinkActive="router-link-active" > Page 2</button>
<button class="btn btn-primary" [routerLink]="['/property-details/3']" routerLinkActive="router-link-active"> Page 3</button>
<button class="btn btn-primary" [routerLink]="['/property-details/4']" routerLinkActive="router-link-active"> Page 4</button>